*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(carimage.png);
     background-size: cover;
    background-position: center;
    height: 69vh;
    width: 100vw;
    padding: 0 10%;

}

.login button{
    padding: 10px 2rem;
    border-radius: 5px;
    margin: 12px 3px;
    background-color: white;
    color: red;
    border: none;
}

.navbar{
    position: sticky;
    top: 0;
      left: 0;
      right: 0;
}
.navbar_content{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.logo{
    display: flex;
}
.logo img{
    width: 25px;
    height: 20px;
}
.logo h2{
    color: red;
}


.nav-links ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px; 
}
.nav-links a:hover{
    background-color: red;
    color: white;
}
/* hover for links */
.content{
    text-align: center;
}
.content h1{
    padding-top: 40px;
    font-size: 4rem;
    color: white;
}
.content h2{
    text-align: left;
    font-size: 35px;
    margin: 20px ;
    color: white;
}
#tune{
    color: #FFC107;    
}
.content button{
    padding: 10px 13px;
    border-radius: 25px;
    background: transparent;
    color: white;
    border: 2px solid white;
}
button:hover{
    background-color: red;
    color: white;
}

.section-heading{
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 2rem;
}


    /* Form section */
form{
    justify-self: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    font-weight: bold;
}
label ,input{
    margin: 10px 0;
    border-radius: 5px;
    padding: 7px;
    font-size: 20px;
    max-width: 20rem;
}
form button, .car button{
    padding: 10px 2rem;
    border-radius: 6px;
    margin: 12px 3px;
    background-color: red;
    color: white;
    font-size: 16px;
}
form button:hover, .car button:hover{
    background-color: white;
    color: red;
    cursor: grab;
}
/* Table section */
table {
        width: 60%;
        margin: 20px auto;
        border-collapse: collapse;
        }
td,th{
    border: 1px solid black;
    padding: 10px;
    text-align: center; 
}
 th {
            background-color: red;
            color: white;
        }


.cars{
     display: flex;
      justify-content: center;
      gap: 30px;
      text-align: center;
      padding: 50px;
      flex-wrap: wrap;

}
.car{
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 10px;

}
.car:hover{
    transform: scale(1.1);
      transition: 0.8s ease-in-out;

}
.car img{
     width: 230px;
      height: 230px;
}
.Reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 50px;
}
.review{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
h3{
    margin-bottom: 10px;
}
footer{
    background-color: black;
    color: white;
     padding: 3rem 1rem;
    margin-top: 2rem;
}

.footer{

    display: flex;
    justify-content: space-between;
 
}
.footer div h2,p{
    margin-bottom: 10px;
}
.icon img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
@media (max-width:768px) {
    header{
        padding: 0 2%;
    }
    .login button{
    padding: 10px 1rem;
}
    .nav-links ul{
    gap: 3px;
}
    .content h1{
    padding-top: 30px;
    font-size: 1.8rem;
    }
    .content h2{
    text-align: left;
    font-size: 1.2rem;
    margin: 10px ;
    }
    a{
    padding: 7px 12px;
    border-radius: 5px; 
}
    .footer{
        display: block;
    }

    
}
